 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 851px;
}

.u-section-2 .u-group-1 {
  width: 619px;
  min-height: 362px;
  height: auto;
  margin: 228px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-form-1 {
  height: 124px;
  width: 400px;
  margin: 11px auto 0;
}

.u-section-2 .u-input-1 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-2 .u-btn-1 {
  width: 100%;
  font-size: 1.25rem;
  background-image: none;
  padding: 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-2 .u-group-1 {
    min-height: 306px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-form-1 {
    width: 320px;
  }
}